.destination {
  padding-inline: 10%;

  h1 {
    font-size: 1.75rem;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.725px;
    font-weight: 400;
    span {
      opacity: 0.25;
      font-weight: 700;
    }
  }

  &-planet {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-block-start: 4rem;

    img {
      justify-self: center;
      align-self: center;
    }

    &-content {
      padding-inline: 4rem;
    }

    &-tabs {
      button {
        font-size: 1rem;
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 2.7px;
        background: none;
        color: #D0D6F9;
        text-transform: uppercase;
        padding: 1rem;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0.2rem;
          background-color: white;
          opacity: 0.5;
          transition: 0.5s;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 50%;
          width: 0;
          height: 0.2rem;
          background-color: white;
          opacity: 0.5;
          transition: 0.5s;
        }

        &:hover {
          &::before, &::after {
            width: calc(50% - 1rem);
          }
        }
      }

      .active {
        color: white;

        &::before, &::after {
          opacity: 1;
          display: block;
          width: calc(50% - 1rem);
        }
      }
    }
  }
}

@media screen and (max-aspect-ratio: 1) {
  .destination {
    &-planet {
      grid-template-columns: auto;
      text-align: center;

      img {
        width: 50%;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 912px) {
    .destination {
      h1 {
        font-size: 1.25rem;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .destination {
      padding-inline: 1.5rem;

      h1 {
        font-size: 1rem;
        text-align: center;
        margin-block-start: 0;
      }

      &-planet {
        &-content {
          padding-inline: unset;
        }
      }
    }
  }
}
