.home {
  margin-block-start: 12.6875rem;
  padding-inline: 10%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: end;

  .space {
    h1 {
      margin-block: 2rem;
    }
  }

  .explore {
    a {
      position: relative;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      aspect-ratio: 1;
      padding: 4rem;
      border-radius: 50%;
      float: right;
      color: #0B0D17;
      text-decoration: none;
      background-color: white;
      display: grid;
      place-items: center;
      outline-style: solid;
      outline-color: rgba(255, 255, 255, 0.1);
      outline-width: 0;
      transition: 0.5s;

      &:hover {
        outline-width: 3rem;
      }
    }
  }
}

@media screen and (max-aspect-ratio: 1) {
  .home {
    grid-template-columns: auto;
    text-align: center;

    .explore {
      display: flex;
      justify-content: center;
      a {
        float: unset;
        max-width: 25vw;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 912px) {
    .home {
      margin-block-start: 6.625rem;

      .explore {
        a {
          font-size: 1.25rem;
          padding: 3rem;
        }
      }
    }

  }

  @media screen and (max-width: 767px) {
    .home {
      margin-block-start: 1.5rem;
      padding-inline: 1.5rem;
      min-height: calc(100vh - 8rem);

      .space {
        h1 {
          font-size: 5rem;
        }
        h5 {
          font-size: 1rem;
        }
      }

      .explore {
        a {
          font-size: 1.25rem;
          padding: 2rem;
        }
      }
    }
  }
}
