.crew {
  padding-inline: 10%;

  h1 {
    font-size: 1.75rem;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.725px;
    font-weight: 400;
    span {
      opacity: 0.25;
      font-weight: 700;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-block-start: 10rem;

    &-info {
      label {
        font-family: Bellefair, sans-serif;
        font-weight: 400;
        font-size: 2rem;
        text-transform: uppercase;
        color: white;
        opacity: 0.5;
      }

      span {
        display: block;
        font-family: Bellefair, sans-serif;
        font-weight: 400;
        font-size: 3.5rem;
        text-transform: uppercase;
        color: white;
        margin-block-start: 1rem;
        margin-block-end: 1.5rem;
      }

      p {
        margin-block-end: 8rem;
      }

      &-pages {
        display: flex;

        &:first-child {
          display: none;
        }

        .page {
          width: 1rem;
          aspect-ratio: 1;
          border-radius: 50%;
          background-color: white;
          margin-inline: 0.75rem;
          opacity: 0.17;

          &:first-child {
            margin-inline-start: 0;
          }

          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }

        .active {
          opacity: 1 !important;
        }
      }
    }

    img {
      position: absolute;
      left: 75%;
      width: 30%;
      transform: translate(-50%);
      bottom: 0;
    }
  }
}

@media screen and (max-aspect-ratio: 1) {
  .crew {
    &-content {
      text-align: center;
      grid-template-columns: auto;

      span {
        margin-block-start: 0.5rem;
        margin-block-end: 1rem;
      }

      &-info {
        margin-block-start: 2rem;
        &-pages {
          justify-content: center;
        }
      }

      img {
        position: static;
        justify-self: center;
        transform: none;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 912px) {
    .crew {
      &-content {
        margin-block-start: 3.75rem;

        label {
          font-size: 1.5rem;
        }

        span {
          font-size: 2.5rem;
        }

        img {
          width: 80%;
        }

        &-info {
          p {
            margin-block-end: 2.5rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .crew {
      text-align: center;

      &-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-block-start: 2rem;

        img {
          width: 80%;
        }

        label {
          font-size: 1rem;
        }

        span {
          font-size: 1.5rem;
        }

        &-info {
          p {
            margin-block-end: 2.5rem;
          }

          &-pages {
            display: none;

            &:first-child {
              display: flex;
              margin-block-end: 2rem;
            }
          }
        }
      }
    }
  }
}
