/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
}

h1, h2, h3, h4, button {
  font-family: Bellefair, sans-serif;
}

h1 {
  font-size: 9.375rem;
  color: white;
}

h2 {
  font-size: 6.25rem;
  color: white;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.75rem;
  letter-spacing: 4.75px;
  color: #D0D6F9
}

p {
  font-family: 'Barlow', sans-serif;
  line-height: 2rem;
  color: #D0D6F9;
}

button {
  border: solid 0;

  &:hover {
    cursor: pointer;
  }
}

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 3rem 3rem;
    position: absolute;
    width: calc(100% - 3rem);

    &::before {
      content: '';
      width: 35%;
      height: 0.1rem;
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translate(0, -50%);
      background-color: gray;
      z-index: 1;
    }
  }

  footer {
    font-family: 'Barlow', sans-serif;
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1vh;
  }

@media screen and (max-aspect-ratio: 1) {
  header {
    &::before {
      display: none;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 912px) {
    body {
      overflow: scroll;
    }

    header {
      padding: 0 0 0 2rem;
    }
  }

  @media screen and (max-width: 767px) {
    body {
      overflow: scroll;
    }

    header {
      padding: 1.5rem;
    }
  }
}


